<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="styles.css" />
    <script
      src="https://unpkg.com/vue@next"
      defer></script>
    <script
      src="app.js"
      defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input
        type="text"
        v-model="goal" />
      <button @click="addGoal">Add Goal</button>
      <!-- v-if|| v-if-v-else -->
      <p v-if="goals.length===0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else>
        <li>Goal</li>
      </ul>
      <!-- ................................... -->
      <!-- v-show stand alone -->
      <p v-show="goals.length===0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-show="goals.length>0">
        <li>Goal</li>
      </ul>
      <!--v-show if condition false display is none we dont remove element from the dom...so we need to use this whe nwe have many changes in that element  -->

      <!-- ................................... -->
      <p v-if="goals.length===0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else>
        <!-- we should use for in loop -->
        <!-- <li v-for="goal in goals">{{goal}}</li> -->
        <!-- .......... -->
        <!-- we also access index also of element -->
        <li
          v-for="(goal, index) in goals"
          @click="removeGoal(index)"
          :key="goal">
          <p>{{goal+" - "+index}}</p>
          <input
            type="text"
            @click.stop />
        </li>
      </ul>
      <ul>
        <!-- objects -->
        <li v-for="(value,key,index) in {name:'Max',age:31}">
          {{value +" - "+ key +" - "+ index}}
        </li>
      </ul>
      <ul>
        <!-- range of number,num in 4 -->
        <li v-for="(num,index) in 4">{{num}}</li>
      </ul>
      <!-- ................................... -->
    </section>
  </body>
</html>
